@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */
@font-face {
  font-family: 'MN KAEWKANLAYA';
  src: url('/fonts/MNKAEWKANLAYA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TH Niramit AS Regular';
  src: url('/fonts/THNiramitASRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* In your global CSS file */
html {
  scroll-behavior: smooth;
}


body {
  min-height: '-webkit-fill-available'; /* Safari */
  min-height: 100vh;
  font-family: 'TH Niramit AS Regular, sans-serif';
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@supports (-webkit-touch-callout: none) {
  .ios-background-fix {
    background-attachment: scroll; /* Fix background scrolling issues in iOS */
    height: 100vh; /* Ensure correct height on iOS */
    background-size: cover;
    background-position: center;
  }
}
